@page
@model bookingadvisor.Pages.InnKeeper.IndexModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/Innkeeper.css" />

</head>
<body>
    <main>
        <div id="container">
            <div id="table-box">
            </div>
        </div>
    </main>
</body>
