@page
@model bookingadvisor.Pages.InnKeeper.IndexModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/Innkeeper.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <main>
        <div id="container">
            <div id="table-box">
                <h2>Inn Keeper</h2>
                <div id="my-profile">
                    <img src="~/assets/Innkeeper/mypic.jpg" />
                    <div id="whoami">
                        <p>
                            Hello! My name is Jin and I am aspiring cloud security engineer who's always in search of learn new skills and expand on my knowledge in security. During my software development course, I learned how web application vulnerabilities can be exploited from multiple attack vectors and I found it fascinating. My network then eventually led me to security courses and I learned about creating secure network and also maintaining integrity of data on Cloud. I would love to expand my knowledge in containerization and agile development in the future while continually mentoring others to break into tech scene.
                        </p>
                        <div id="icon-container">
                            <a class="icon-box" href="https://www.github.com/jinwoov" target="_blank">
                                <img src="~/assets/Innkeeper/github-logo.png" class="icon" />
                                <p>Github</p>
                            </a>
                            <a class="icon-box" href="https://www.linkedin.com/in/jinkim808" target="_blank">
                                <img src="~/assets/Innkeeper/linkedin.png" class="icon" />
                                <p>LinkedIn</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
