@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

body header .head {
  background-color: #1c1a2f;
  color: white;
  padding: 20px;
  font-family: 'Lobster', cursive; }
  body header .head h2 {
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: right; }
  body header .head #authentication {
    text-align: right; }
    body header .head #authentication button {
      background-color: white;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 10%;
      font-weight: 600; }
    body header .head #authentication button:hover {
      color: grey; }
  body header .head #menu-bar {
    text-align: center;
    margin: auto;
    width: 40%; }
    body header .head #menu-bar h1 {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
    body header .head #menu-bar div {
      padding-top: 40px;
      display: flex;
      justify-content: space-evenly; }
      body header .head #menu-bar div a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
        opacity: 0.6; }
      body header .head #menu-bar div a:hover {
        opacity: 1; }

body main {
  background-image: url("assets/background.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
