@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import url(scss/Shared/_layout.css);
*, *:before, *:after {
  box-sizing: border-box; }

body #container {
  padding-top: 10% !important; }

body #disclosure {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  padding: 2%; }

body input {
  width: 60%;
  height: 2.5rem;
  padding: 5px;
  border: 1px inset grey;
  margin: 3% 0;
  font-size: 1.1rem;
  border-radius: 2px; }
  body input:focus {
    outline: none !important;
    border: 2px solid #1c1a2f;
    box-shadow: 0 0 10px #719ECE; }

body #loginP-button {
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #1c1a2f;
  color: white;
  padding: 2% 8%;
  border-radius: 0;
  margin-bottom: 3%;
  opacity: 1; }
  body #loginP-button:hover {
    opacity: 0.8; }
