@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

body header .head {
  background-color: #1c1a2f;
  color: white;
  padding: 20px;
  font-family: 'Lobster', cursive; }
  body header .head h2 {
    margin-top: 5px;
    text-align: right; }
  body header .head #authentication {
    text-align: right; }
    body header .head #authentication button {
      background-color: white;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 10%;
      font-weight: 600; }
    body header .head #authentication button:hover {
      color: grey; }
  body header .head #menu-bar {
    text-align: center;
    margin: auto;
    width: 40%; }
    body header .head #menu-bar h1 {
      font-size: 40px;
      font-weight: bold; }
    body header .head #menu-bar div {
      padding-top: 40px;
      display: flex;
      justify-content: space-evenly; }
      body header .head #menu-bar div a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
        opacity: 0.6; }
      body header .head #menu-bar div a:hover {
        opacity: 1; }

body main {
  background-image: url("../assets/background.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body main #save-money {
    font-weight: bold;
    font-size: 20px; }
  body main #upper-box {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif; }
  body main .form-box p {
    width: 100%;
    padding: 5px; }
  body main .form-box #user-choice {
    padding: 5px; }
    body main .form-box #user-choice input {
      width: 70%;
      height: 2.8rem;
      padding: 5px;
      border: 2px solid #1c1a2f; }
    body main .form-box #user-choice input:focus {
      outline: none !important;
      border: 3px solid #febb02;
      box-shadow: 0 0 10px #719ECE;
      border-radius: 0; }
    body main .form-box #user-choice button {
      border: none;
      font-size: 1.2rem;
      font-weight: bolder;
      background-color: #1c1a2f;
      color: white;
      padding: 11px;
      border-radius: 0; }
  body main #table-box {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 2px 1px 0px;
    padding: 5px;
    text-align: left; }
    body main #table-box .tour-place {
      padding: 10px;
      display: flex;
      flex-wrap: wrap; }
      body main #table-box .tour-place img {
        width: 40%; }
      body main #table-box .tour-place .tour-content {
        padding: 1%;
        padding-left: 15px;
        width: 60%; }
        body main #table-box .tour-place .tour-content h1 {
          text-align: center;
          font-size: 2rem; }
        body main #table-box .tour-place .tour-content .tour-desc {
          padding: 5%; }
