@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

body header .head {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: 'Lobster', cursive; }
  body header .head h2 {
    margin-top: 5px;
    text-align: right; }
  body header .head #authentication {
    text-align: right; }
    body header .head #authentication button {
      background-color: white;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 10%;
      font-weight: 600; }
    body header .head #authentication button:hover {
      color: grey; }
  body header .head #menu-bar {
    text-align: center;
    margin: auto;
    width: 40%; }
    body header .head #menu-bar h1 {
      font-size: 40px;
      font-weight: bold; }
    body header .head #menu-bar div {
      padding-top: 40px;
      display: flex;
      justify-content: space-evenly; }
      body header .head #menu-bar div a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
        opacity: 0.8; }
      body header .head #menu-bar div a:hover {
        opacity: 1; }

body main {
  width: 90%;
  margin: auto;
  text-align: center; }
  body main form #user-choice {
    padding: 5px; }
    body main form #user-choice p {
      width: 100%;
      padding: 5px; }
    body main form #user-choice input {
      width: 70%;
      height: 2rem;
      padding: 5px; }
    body main form #user-choice input:focus {
      outline: none !important;
      border: 2px solid #febb02;
      box-shadow: 0 0 10px #719ECE;
      border-radius: 0; }
  body main form button {
    font-weight: bolder;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 0; }
