@page
@model bookingadvisor.Pages.IndexModel
@{
}

<!DOCTYPE html>
<head>
    <title>Booking-Advisor</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <main>
        <p>Hello world!!!!!!</p>
    </main>
</body>