@page
@model bookingadvisor.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <div class="head">
            <div id="authentication">
                <button>Login</button>
                <button>Register</button>
            </div>
            <h2>Top #22 Booking Site</h2>
            <div id="menu-bar">
                <h1>Booking Advisor</h1>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Vulnerability</a>
                    <a href="#">Inn Keeper</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="upper-box">
            <div class="form-box">
                <p id="save-money">Save money using our website</p>
                <div id="user-choice">
                    <input type="text" placeholder="Where do you want to go?" />
                    <button id="find-deal">Find Deal</button>
                    <p id="output-deal"></p>
                </div>
            </div>
            <div id="table-box">
                <div class="tour-place">
                    <img src="~/assets/tour-place/korea.jpg" />
                    <div class="tour-content">
                        <h1 class="tour-title">Korea</h1>
                        <p class="tour-desc">Korea is so beautiful</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>