@page
@model bookingadvisor.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <div class="head">
            <div>
                <button>Login</button>
                <button>Register</button>
            </div>
            <h1>Booking Advisor</h1>
            <h2>#2 Booking Site</h2>
        </div>
    </header>
    <main>
        <p>Hello world!!!!!!</p>
    </main>
</body>