@page
@model bookingadvisor.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <div class="head">
            <div id="authentication">
                <button>Login</button>
                <button>Register</button>
            </div>
            <h2>Top #21 Booking Site</h2>
            <div id="menu-bar">
                <h1>Booking Advisor</h1>
                <div>
                    <a href="#">Flight</a>
                    <a href="#">Hotel</a>
                    <a href="#">Packages</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <p>Hello world!!!!!</p>
        <div>
            <form action="/" method="post">
                <div id="user-choice">
                    <p>Save Money Using our Website</p>
                    <input type="text" placeholder="Where do you want to go?"/>
                </div>
                <button>Find Deal</button>
            </form>
        </div>
        <div id="table-box">
            <div>
                table1
            </div>
            <div>
                tabel2
            </div>
        </div>
    </main>
</body>