@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
$phone-size: 900px;
$roboto: 'Roboto', sans-serif;
$main-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$main-serif: Georgia, 'Times New Roman', Times, serif;
$jorange: #febb02;
$jpurple: #4639cc;
$jblue: #003580;
$jbanner: #1c1a2f;

*, *:before, *:after {
    box-sizing: border-box;
}
