<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booking-Advisor</title>
    <link rel="stylesheet" href="~/css/reset.css" />
</head>
<body>
    <header>
        <div class="head">
            <div id="authentication">
                <button id="login-button">Login</button>
                <button>Register</button>
            </div>
            <h2>Top #22 Booking Site</h2>
            <div id="menu-bar">
                <h1>Booking Advisor</h1>
                <div>
                    <a href="/">Home</a>
                    <a href="#">Vulnerability</a>
                    <a asp-page="/InnKeeper/Index">Inn Keeper</a>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/app.js"></script>

</body>
</html>
