<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booking-Advisor</title>
    <link rel="stylesheet" href="~/css/reset.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/app.js"></script>

</body>
</html>
