@page
@model bookingadvisor.Pages.Account.RegisterModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/auth.css" />

</head>
<body>
    <main>
        <div id="container">
            <div id="table-box">
                <form action="/" method="post">
                    <input type="text" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <input type="password" placeholder="Confirm Password" />
                    <div>
                        <button id="loginP-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
